<div id="<%= dom_id contact %>" class="contact-details">
  <div>
  <%= contact.name %>
  <br/>
  <%= contact.email %>
  </div>
  <div>
  <%= link_to("Edit",edit_contact_path(contact)) %>
  </div>
  <div>
  <%= button_to("Delete",contact_path(contact), method: :delete) %>
  </div>
</div>
