<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="new-contact-form">
    <div class="left">
      <div>
        <%= form.text_field :name, placeholder: "Enter name here!", required: true %>
      </div>

      <div>
        <%= form.email_field :email, placeholder: "Enter valid email here!", required: true %>
      </div>
    </div>
    <div class="center">
      <%= image_tag id: contact_image  %>
      <%= form.file_field :image, onchange: "alert('hello image field changed')" %>
      </div>
    <div class="right">
      <%= form.submit %>
    </div>
  </div>
<% end %>
