<%= form_with(model: contact) do |form| %>
  <% if contact.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="new-contact-form" data-controller="image">
    <div class="left">
      <div>
        <%= form.text_field :name, placeholder: "Enter name here!", required: true %>
      </div>

      <div>
        <%= form.email_field :email, placeholder: "Enter valid email here!", required: true %>
      </div>
    </div>
    <div class="center">
      <%= image_tag(preview_image(contact, :medium), id: "img_preview", data: { target: "image.output" }) %>
      <%= form.file_field :image, class: "form-control-file photo_upload", data: {target: "image.input", action: "image#readURL" } %>
    </div>    
    <div class="right">
      <%= form.submit %>
    </div>
  </div>
  <hr/>
<% end %>
