<% results.each do |contact| %>
  <div id="<%= dom_id contact %>" >
    <div class="contact-details">
      <%= image_tag(preview_image(contact, :thumb), class: "image") %>
      <div class="sub-details">
        <br/>
        <%= highlight(contact.name, params[:search_params]) %>
        <br/>
        <%= highlight(contact.email, params[:search_params]) %>
      </div>
      <div class="edit-button">
        <%= button_to("Edit",edit_contact_path(contact), method: :post) %>
      </div>
      <div class="delete-button">
        <%= button_to("Delete",contact_path(contact), method: :delete) %>
      </div>
    </div>
    <hr/>
  </div>
<% end %>
